div{
    height: 100px;
    width: 100px;
   
    background-color: blue;
    border: 2px solid brown;
    /* border-radius: 50%; */
    position: absolute;
    left: 100px;
    top:100px;
    animation-name: colorAnimate;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}





@keyframes colorAnimate{
    from {
        left:100px;
        background-color: blue;}
    to {left:200px;
        background-color: red;}
}

