#box {background-color: blue;
color:azure;}

.heading{ color:blueviolet}

button{ background-color: greenyellow; text-decoration: line-through; }
#one{text-align: center;
text-decoration:pink wavy underline;text-shadow:0cqi}

#two{font-family:cursive;}
/* work more with mdn css /*