#box {background-color: blue;
color:azure;}

.heading{ color:blueviolet}

button{ background-color: greenyellow; text-decoration: line-through; }
p{text-align: center;
text-decoration:pink wavy line-through;text-shadow:0cqi}


/* work more with mdn css /*